<section id="contact" class="bg-gradient-to-br from-brand-orange-lighter/5 to-brand-purple-lighter/5">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mx-auto text-center">
      <h2 class="mb-4 text-4xl font-extrabold text-slate-700">Ready to optimize your SaaS?</h2>
      <p class="mb-8 text-gray-500 sm:text-xl">Get started with a free consultation or explore our boilerplate package.
      </p>
      <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4 justify-center">
        <a target="_blank" href="https://calendly.com/moritzlaass"
          class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-gradient-to-r from-brand-orange to-brand-purple hover:from-brand-orange-dark hover:to-brand-purple-dark focus:ring-4 focus:ring-brand-purple-light/50 rounded-lg">
          Book Consultation
        </a>
        <a href="/boilerplate"
          class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center border border-brand-orange/20 text-brand-orange hover:bg-brand-orange-lighter/10 focus:ring-4 focus:ring-brand-orange-light/30 rounded-lg">
          Get Boilerplate Package
        </a>
      </div>
    </div>
  </div>
</section>