{{ with .Params.hero }}
{{ $heroData := . }}
<section id="hero" class="gradient-primary-secondary text-white py-20 md:py-32">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4 leading-tight">{{ .title | safeHTML }}</h1>
    <p class="text-lg md:text-xl mb-8 hero-highlight">{{ .subtitle | safeHTML }}</p>
    {{ with .button_url }}
    <a href="{{ . }}" target="_blank" rel="noopener noreferrer"
      class="btn-secondary-outline font-semibold py-3 px-8 rounded-lg shadow-md text-lg">{{ $heroData.button_text |
      default "Learn More" }}</a>
    {{ end }}
  </div>
</section>
{{ end }}