{{ with .Params.process }}
{{ if .steps }}
<section id="process" class="py-16 md:py-24 bg-white">
  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    {{ with .title }}<h2 class="text-3xl md:text-4xl font-bold text-center mb-12 text-gray-900">{{ . | safeHTML }}</h2>
    {{ end }}
    <div class="relative max-w-2xl mx-auto">
      <div class="space-y-12">
        {{ range $index, $step := .steps }}
        <div class="relative flex items-start space-x-6">
          <div class="relative flex items-center justify-center">
            {{/* Add 1 to $index because range is 0-indexed */}}
            <span
              class="absolute w-16 h-16 top-2 p-1.5 flex items-center justify-center rounded-full process-step-circle text-2xl font-bold">{{
              add $index 1 }}</span>
          </div>
          <div class="min-w-0 flex-1 pt-1.5 pl-16 sm:pl-20">
            <h3 class="text-xl font-semibold mb-1 text-gray-800">{{ $step.title | safeHTML }}</h3>
            <p class="text-gray-600 text-sm">{{ $step.description | safeHTML }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}